{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Редактировать запись - Админ{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h1 class="mb-4">Редактировать запись</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="{% url 'admin_appointments' %}" class="btn btn-outline-secondary">Отмена</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}




