{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if user %}Редактировать{% else %}Создать{% endif %} пользователя - Админ{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h1 class="mb-4">{% if user %}Редактировать пользователя{% else %}Создать пользователя{% endif %}</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="{% url 'admin_users' %}" class="btn btn-outline-secondary">Отмена</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}




