{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Добавить отзыв - Тату-Салон{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h1 class="mb-4">Добавить отзыв</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Отправить</button>
                <a href="{% url 'reviews' %}" class="btn btn-outline-secondary">Отмена</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}




